@model IEnumerable<Fatura.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdcategoriaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdmarcaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdcategoriaNavigation.Idcategoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdmarcaNavigation.Idmarca)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Idproducto">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Idproducto">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Idproducto">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

